{{>layouts/header}}

{{#article}}
<form action="/articles/update" method="post">
    <input name="id" type="hidden" value="{{id}}"/>
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content">{{content}}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">제출</button>
    <a href="/articles/{{id}}" class="btn btn-primary">뒤로</a>
</form>
{{/article}}
{{>layouts/footer}}
