{{>layouts/header}}
<div class="pt-5">
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#article}}
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/edit" class="btn btn-secondary">편집</a>
<a href="/articles" class="btn btn-secondary">목록</a>
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">삭제</a>
</div>
{{>comments/_comments}}
{{>layouts/footer}}
